html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

canvas{
  background-color: black;
	width: 100%;
	max-width: 600px;
	margin: 0px 3px;
}
